*{
	margin: 0;
	
}
/*caixa transparente*/
#box{
	position: absolute;
	left: 56%;
	

}
.banner{

	border: 1px solid white;
	padding: 180px;
	background:rgba(255,255,255,0.5);
	height: 100%;

}
.text-center{
	margin-top: 0px;
}

body{
	background: url("../img/index.jpg");
}

a:hover{
	text-decoration: none;


}a:link{
	text-decoration: none;

}
.center{
	
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width:769px) {
	/*Apaga a Logo do Site */
	#box{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -260px;

}
.banner{
	
	border: 0.5px solid black;
	border-radius: 10px;
	width: 500px;
	height: 350px;
	padding-top: 50px;
	padding-left: px;
	background: rgba(255,255,255,0.3);

}
#botao{
	width: 500px;
	height: 100px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:769px) {
	.pull{
		margin-left: 100px;
	 }
	}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }